aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100px;
    background-color: rgb(233, 239, 255);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.Weblogo {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.1s ease-in-out;
}

.Weblogo img {
    width: 55px;
}

.Weblogo:active,
.NaviBox:active {
    scale: 0.89;
}

.asideNaviBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.NaviBox {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    cursor: pointer;
    background-color: transparent;
    padding-bottom: 3px;
    color: #000;
    border: none;
    transition: 0.1s ease-in-out;
}

.NaviBox i {
    font-size: 27px;
}

.NaviBox.active {
    background-color: rgb(81, 174, 95);
    color: #fff;
}

.asideNaviBtn .NaviBox:nth-child(2) {
    font-size: 30px;
}

.asideNaviBtn .NaviBox:nth-child(3),
.asideNaviBtn .NaviBox:nth-child(4),
.asideNaviSetting .NaviBox {
    font-size: 28px;
}

.cart-box {
    position: relative;
    padding-top: 4px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    background-color: #E63946;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.asideNaviSetting {
    position: relative;
}

.InsideNaviSetting {
    position: absolute;
    padding-left: 20px;
    bottom: 8px;
    left: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-in-out;
    transform: translateY(-30px);
}

.DropSideSetting {
    background-color: #fff;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    width: 230px;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.DropSideSetting a {
    font-size: 19px;
    font-weight: 500;
    font-family: var(--Font3);
    letter-spacing: -0.4px;
    color: #000;
    padding: 12px 18px;
    border-radius: 10px;
    text-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);

}

.DropSideSetting a:hover {
    background-color: #0000000f;
}

.asideNaviSetting:hover .InsideNaviSetting {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}