.OverFlowHidden {
    overflow: hidden;
}

.VideoATitle {
    overflow: hidden;
}

.FullVideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    position: relative;
    overflow: hidden;
}

.AboutAPP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.AboutAPP h1 {
    font-family: var(--Font2);
    font-size: 20rem;
}

.AboutAPP h2 {
    font-size: 3rem;
    letter-spacing: -2px;
}

.AboutAPP p {
    font-size: 2rem;
    font-weight: 500;
}

.APPBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 2rem;
}

.APPBtn button {
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.APPBtn button:nth-child(1) img {
    width: 220px;
}

.APPBtn button:nth-child(2) img {
    width: 201px;
}

.APPBtn button:hover {
    scale: 1.1;
}

.Opactiy {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000052;
    backdrop-filter: blur(7px);
}


.AppSection {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.AppSection h1 {
    font-size: 4rem;
    letter-spacing: -2px;
    font-family: var(--Font3);
    color: rgba(0, 177, 0, 0.857);
    line-height: 4rem;
}

.AppSection p {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #000000be;
}

.AppInfoBox {
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    overflow: hidden;
}

.ThreeTypeHereL {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.MainMobile {
    position: relative;
}

.MainMobile img {
    width: 350px;
}

.Calendar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #00000015;
}

.Calendar img {
    width: 150px;
}

.Calendar span {
    font-weight: 500;
}

.boxSect {
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #00000015;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxSect img {
    width: 130px;
}

.boxSect span {
    font-weight: 500;
}

.DisplayFlex {
    display: flex;
    gap: 2rem;
}

.DownloadApp {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InsideBoxDown {
    height: 55vh;
    width: 87vw;
    border-radius: 50px;
    border: 5px solid rgba(0, 184, 0, 0.644);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(white 30%, rgba(0, 184, 0, 0.46));
}

.InfoAppDownload h1 {
    font-family: var(--Font3);
    letter-spacing: -2px;
    font-weight: 900;
    font-size: 3rem;
}

.InfoAppDownload p {
    font-weight: 900;
    font-size: 1.3rem;
    color: #000000a0;
    margin-top: 10px;
}

.DownloadButton {
    display: flex;
    gap: 20px;
    margin-top: 3rem;
}

.DownloadButton button {
    background-color: transparent;
    border: none;
}

.DownloadButton button img {
    width: 180px;
}

.DownloadButton button:last-child img {
    width: 165px;
}

.ImageAppDownload {
    margin-top: 6.3rem;
    position: relative;
    text-align: center;
}

.MobileCase img {
    width: 400px;
}

.MobileQRCode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
}

.MobileQRCode span {
    font-weight: 900;
    font-size: 1.2rem;
}

.MobileQRCode img {
    width: 250px;
    margin-top: 1rem;
}

.greenColor {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 91px;
    left: 27px;
    background-color: rgb(0, 161, 0);
}

.greenColor::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 174.5px;
    background-color: rgb(0, 161, 0);
}

.greenColor::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 161, 0);
    top: 174.5px;
    left: 0px;
}


.RopeSection {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    position: relative;
}

.RopeFancy {
    position: relative;
}

.Burger {
    position: absolute;
    top: 40px;
    left: 270px;
}

.Pizaa {
    position: absolute;
    top: 700px;
    left: 300px;
    rotate: 30deg;
}

.Leave {
    position: absolute;
    top: 40px;
    left: 700px;
}

.Tomato {
    position: absolute;
    top: 700px;
    left: 90px;
}

.NumberTwo {
    left: 1500px;
    top: 750px;
    rotate: 60deg;
}

.Burger img,
.Pizaa img {
    width: 200px;
}

.Leave img,
.Tomato img {
    width: 50px;
}

.AboutInfoFree {
    position: absolute;
    top: 35%;
    right: 200px;
    text-align: center;
}

.AboutInfoFree h1 {
    font-size: 5.5rem;
    letter-spacing: -2px;
    line-height: 5.5rem;
    font-family: var(--Font3);
    color: #44BC3B;
}

.AboutInfoFree p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #00000089;
    line-height: 1.8rem;
    margin-top: 30px;
}

.AnimationButton {
    position: fixed;
    top: 105%;
    left: 32%;
    background-color: red;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 15px 35px 17px;
    border-radius: 50px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.AnimationButton:active {
    scale: 0.94;
}

.AppInfoBoxForMobile {
    display: none;
}

.DownloadAppSectionForMobile {
    display: none;
}


@media (max-width: 438px) {
    .AboutAPP h1 {
        font-size: 10rem;
    }

    .AboutAPP h2 {
        font-size: 2rem;
    }

    .AboutAPP p {
        font-size: 1rem;
        margin: 10px 0 10px;
    }

    .APPBtn button:nth-child(1) img {
        width: 150px;
    }

    .APPBtn button:nth-child(2) img {
        width: 135px;
    }

    .RopeSection {
        height: 70vh;
    }

    .AboutAPP .AnimationButton {
        font-size: 14px;
        left: 18%;
        top: 120%;
    }

    .DivForMobile {
        display: none;
    }

    .RopeFancy .Burger {
        top: 0px;
        left: 10px;
    }

    .RopeFancy .Leave {
        left: 350px;
        top: 150px;
    }

    .RopeFancy .Pizaa {
        top: 450px;
    }

    .RopeFancy .Tomato {
        left: 20px;
        top: 560px;
    }

    .RopeFancy .NumberTwo {
        top: 60px;
        left: 240px;
    }

    .Burger img,
    .Pizaa img {
        width: 120px;
    }

    .AboutInfoFree {
        top: 35%;
        right: 10%;
        text-align: center;
    }

    .AboutInfoFree h1 {
        font-size: 2.4rem;
        line-height: 2rem;
    }

    .AboutInfoFree p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .AppSection {
        height: 70vh;
    }

    .AppSection h1 {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }

    .AppSection p {
        font-size: 1rem;
    }

    .AppInfoBox {
        display: none;
    }

    .AppInfoBoxForMobile {
        display: block;
    }

    .InsideBoxMobileOf {
        display: flex;
        gap: 1.5rem;
        margin-top: 3rem;
    }

    .AppInfoBoxForMobile p {
        font-weight: 900;
        font-size: 20px;
    }

    .ThreeLineOfMobile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .AppInfoBoxForMobile .boxSect img {
        width: 85px;
    }

    .BezMargin {
        margin-top: 50px;
    }

    .InsideBoxDown {
        display: none;
    }

    .DownloadApp {
        height: 60vh;
        padding-bottom: 80px;
    }

    .DownloadAppSectionForMobile {
        display: block;
    }

    .ImageBoxMobile img {
        width: 450px;
    }

    .AboutInfoMobile {
        text-align: center;
        margin-top: 1.3rem;
    }

    .AboutInfoMobile h1 {
        font-size: 2rem;
        font-family: var(--Font3);
        letter-spacing: -1.2px;
    }

    .AboutInfoMobile p {
        margin-top: 0.5rem;
        font-weight: 600;
        color: #000000a8;
    }
}