.HorizontalScroll {
    width: calc(100vw - 100px);
    margin: 2rem 0 2rem 0;
    padding: 0 30px 0 30px;
}

.MenuSection.Shrink .HorizontalScroll {
    width: 100%;
}

.ScrollHeading {
    font-family: var(--Font3);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: -1.5px;
}

.ScrollContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    height: 220px;
}

.ScrollContainer::-webkit-scrollbar {
    display: none;
}

.ScrollItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.ScrollItem:hover {
    transform: translateY(-5px);
}

.ScrollImageBox {
    border: none;
    background: #51AE5E;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.ScrollImageBox img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
}

.ScrollItemName {
    font-family: var(--Font3);
    font-weight: 500;
    font-size: 1.05rem;
    color: #333;
}

.ActiveScrollItem .ScrollImageBox {
    background: #2e8f3f;
    transform: scale(1.05);
}

.ActiveScrollItem .ScrollItemName {
    color: #2e8f3f;
    font-weight: 600;
}

.ScrollImageBox span {
    font-size: 3rem;
    font-family: var(--Font3);
    font-weight: 600;
    color: #fff;
    letter-spacing: -2px;
}