.product-box {
    width: 328px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}

.product-box:hover {
    transform: translateY(-5px);
}

.MainSideBox .product-box {
    width: 355px;
}

.MainSideBox.Shrink .product-box {
    width: 328px;
}

.product-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 15px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.product-category {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 8px;
}

.product-description {
    font-size: 0.9rem;
    color: #555;
    width: 94%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
}

.product-price {
    font-weight: bold;
    color: #E63946;
    font-size: 2rem;
    font-family: var(--Font3);
}


.AllProductSection {
    padding: 40px 0;
}

.SectionTitle {
    font-size: 2.3rem;
    font-weight: 700;
    color: #222;
    letter-spacing: -1.8px;
    font-family: var(--Font3);
    margin-bottom: 30px;
}

.ProductsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    gap: 25px;
}


.cart-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #51AE5E;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease;
}

.cart-btn:hover {
    background-color: #43a250;
}

.CustomToast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.95;
    z-index: 10000;
    animation: fadeSlide 0.3s ease-out;
}

@keyframes fadeSlide {
    from {
        transform: translateX(-50%) translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}