.ToastBox {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0) !important;
    background: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    z-index: 9999;
    opacity: 0;
    animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }

    10% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
}