.success-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6fef7;
}

.success-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 445px;
    text-align: center;
    box-shadow: 0px 10px 30px #0002;
    animation: pop 0.4s ease;
}

@keyframes pop {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Success Icon */
.success-icon-wrap {
    width: 100px;
    height: 100px;
    background: #51AE5E22;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-check {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #51AE5E;
    position: relative;
}

.success-check::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 16px;
    width: 22px;
    height: 12px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(-45deg);
}

.success-btn {
    display: block;
    margin: 15px auto;
    padding: 12px 20px;
    background: #51AE5E;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    width: 70%;
    font-weight: 600;
}

.success-btn.outline {
    background: transparent;
    border: 2px solid #51AE5E;
    color: #51AE5E;
}

.success-box h1,
.help-success-box h1 {
    font-family: var(--Font3);
    letter-spacing: -1px;
    margin: 1rem 0 ;
    /* white-space: nowrap; */
}

.AlignCenter {
    display: flex;
    align-items: center;
    gap: 1rem;
}