.HelpSectBanner {
    width: 100%;
    height: 320px;
    background-image: url(/public/HelpBanner.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HelpSectBanner h1 {
    font-size: 4.5rem;
    color: #fff;
    font-family: var(--Font2);
    letter-spacing: 2px;
}

.HelpFormSection {
    display: flex;
    gap: 2rem;
    padding: 3rem 0;
    width: 70%;
    margin: 0 auto;
}

.HelpForm {
    width: 70%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 2rem;
}

.DropContainer {
    width: 100%;
    max-width: 350px;
    position: relative;
    font-family: sans-serif;
}

/* Header */
.DropHeader {
    padding: 14px 16px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.inputAcc {
    position: absolute;
    left: -2px;
    top: 8px;
    bottom: 8px;
    width: 6px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #A5F7B1, #3E8A4A);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.SelectHelp {
    font-size: 18px;
    color: #6BCB78;
}

.Arrow {
    transition: 0.2s ease;
    font-size: 26px;
    color: #777;
    transition: 0.3s ease-in-out;
}

.Rotate {
    transform: rotate(180deg);
}

/* Dropdown list */
.DropList {
    margin-top: 8px;
    background: #fff;
    width: 100%;
    list-style: none;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.DropItem {
    padding: 18px;
    width: 100%;
    font-size: 15px;
    color: #aaa;
    cursor: pointer;
}

.DropItem:hover {
    background: #f3f3f3;
}

.HelpForm input {
    width: 100%;
    height: 60px;
    font-size: 18px;
    padding-left: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    outline: none;
}


/* Wrapper */
.input-box {
    position: relative;
    width: 100%;
}

/* Left gradient bar */
.input-accent {
    position: absolute;
    left: -2px;
    top: 8px;
    bottom: 8px;
    width: 6px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #A5F7B1, #3E8A4A);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.input-box:focus-within .input-accent {
    opacity: 1;
}

/* Input */
.input-field {
    width: 100%;
    height: 200px;
    padding: 24px 16px 8px 24px;
    font-size: 14px;
    color: #1f2937;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.input-field:focus {
    border-color: transparent;
    outline: none;
    box-shadow: 0 0 0 2px #6bcb78d6;
}

/* Label */
.input-label {
    position: absolute;
    left: 24px;
    top: 19px;
    font-size: 17px;
    color: #6BCB78;
    cursor: text;
    transition: all 0.2s ease;
}

/* Label moves up when input is focused */
.input-field:focus+.input-label {
    top: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #6BCB78;
}

/* Label stays centered when empty */
.input-field:not(:placeholder-shown)+.input-label {
    top: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #6BCB78;
}

input.SubmitButton {
    background-color: #3E8A4A;
    color: #fff;
    font-weight: 500;
    font-family: var(--Font3);
    font-size: 1.5rem;
    letter-spacing: -1px;
}

.infoReportBoxes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.SafetyEmergency {
    padding: 15px;
    width: 370px;
    border-radius: 12px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.SafetyEmergency h1 {
    font-size: 1.7rem;
    font-family: var(--Font3);
    letter-spacing: -1.2px;
    margin-bottom: 0.8rem;
    font-weight: 600;
}

.SafetyEmergency p {
    font-size: 18px;
    color: #7f8081;
    margin-bottom: 1.5rem;
    line-height: 25px;
}

.SafetyEmergency a {
    color: red;
    font-weight: 500;
}

.FAQBox h3 {
    font-family: var(--Font3);
    font-size: 1.4rem;
    letter-spacing: -0.5px;
}

.FAQBox ul {
    padding: 0.6rem 0 0 1rem;
}

.FAQBox ul .faqListItem {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.FAQBox ul .faqListItem span {
    padding-bottom: 2px;
}