.ReportSection {
    height: 100%;
}

.ReportSection .HelpSectBanner {
    width: 100%;
    height: 320px;
    background-color: red;
    display: flex;
    align-items: center;
    background-image: none;
    justify-content: center;
}

.ReportSection .HelpSectBanner h1 {
    font-family: var(--Font3);
    letter-spacing: -2px;
}

.ReportSection .input-accent {
    background: linear-gradient(to bottom, #E53935, #FF1A3C);
}

.ReportSection input.SubmitButton {
    background-color: #E53935;
}

.ReportSection .input-field:focus {
    box-shadow: 0 0 0 2px #FF9999;
}

.ReportSection .input-label,
.ReportSection .input-field:focus+.input-label,
.ReportSection .input-field:not(:placeholder-shown)+.input-label {
    color: #FF9999;
}

.ReportSection .HelpForm {
    height: 160vh;
}

.ReportSection .SomeTermsOfCond {
    font-size: 12px;
    color: #00000067;
}

.fraud-reason-section h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-family: var(--Font3);
    letter-spacing: -0.4px;
}

.fraud-reason-options {
    display: flex;
    flex-direction: column;
}

.reasonLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
}

.reasonLabel span {
    padding-bottom: 1px;
}

.fraud-reason-options input {
    height: 20px;
    width: 20px;
}

button.SubmitButton {
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

button.SubmitButton:hover {
    background-color: rgb(227, 0, 0);
}

.upload-box {
    border: 2px dashed #8884;
    background: #fafafa;
    border-radius: 18px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 20px;
    position: relative;
}

.upload-box:hover {
    background: #f5f5f5;
    border-color: #51AE5E;
}

.upload-content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.upload-icon {
    font-size: 45px;
    color: #51AE5E;
}

.upload-content p {
    font-size: 15px;
    margin-top: 10px;
    color: #777;
}

.upload-content p span {
    color: #51AE5E;
    font-weight: 600;
}

.upload-preview img {
    max-width: 100%;
    height: 160px;
    object-fit: contain;
    border-radius: 10px;
}

.pdf-preview {
    text-align: center;
}

.pdf-icon {
    font-size: 50px;
    color: #d9534f;
}

.remove-file-btn {
    margin-top: 12px;
    background: #ff4747;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.remove-file-btn:hover {
    background: #e63e3e;
}

.TextAreaBox .input-accent {
    height: 82%;
}